<h1>New Line</h1>

<%= form_tag('http://localhost:3000/lines') do %>
	<%= label_tag :name, 'The name of the train line is:' %>
	<%= text_field_tag :name %>
	
	<%= label_tag :frequency, 'The frequency of the train line is:' %>
	<%= text_field_tag :frequency %>
	
	<%= submit_tag 'Create Line' %>
<% end %>

<%= link_to "Back to List of All Lines", "http://localhost:3000/lines" %>