<h1><%= @line.name %> Line Details</h1>

<p>The <%= @line.name %> line runs every <%= @line.frequency %> minutes.</p>

<%= link_to "Back to List of All Lines", "http://localhost:3000/lines" %> |
<%= link_to "Edit Line", "http://localhost:3000/lines/#{@line.id}/edit" %>