<h1><%= @line.name %> Line Details</h1>

<p>The <%= @line.name %> line runs every <%= @line.frequency %> minutes.</p>

<%= link_to "Back to List of All Lines", train_lines_url %> |
<%= link_to "Edit Line", edit_train_line_url(@line.id) %>